# Rails
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

/public/assets
/public/vite
/public/vite-dev
/dist

# Local secrets
/config/master.key
/config/credentials/*.key

# Node
/node_modules

# OS/editor
.DS_Store
Thumbs.db
.vscode/
